<div class="footer">
    <div class="main-footer my-bg-dark-2">
        <div class="container py-3">
            <div class="row pt-5">
                <div class="col-md-4 col-12 mb-5">
                    <h3 class="fw-normal text-white mb-4">About Us</h3>
                    <div class="footer-block">
                        <p class="text-white">Online Place for all Holiday Packages, Honeymoon Packages and Spiritual Yatra Packages. You can book Goa Holiday Packages, Kerala Holiday Packages and more and in spiritual Chardham Yatra, Kailash Mansarovar Yatra, Gujarat Tour
                            Package and more</p>
                        <a class="footer-link arrow-pull text-white social-connect" href="https://m.facebook.com/omshubhyatraofficial/" target="_blank" rel="nofollow">
                            <i class="fab fa-facebook-square me-3"></i>
                        </a>
                        <a class="footer-link arrow-pull text-white social-connect" href="https://twitter.com/omshubhyatra/status/567255988013527040" target="_blank" rel="nofollow">
                            <i class="fab fa-twitter-square me-3"></i>
                        </a>
                        <a class="footer-link arrow-pull text-white social-connect" href="https://www.instagram.com/omshubhyatra_/" target="_blank" rel="nofollow">
                            <i class="fab fa-instagram-square me-3"></i>
                        </a>
                        <a class="footer-link arrow-pull text-white social-connect" href="https://m.youtube.com/channel/UC74L39gUMRvHOSYyeBxH2Lg" target="_blank" rel="nofollow">
                            <i class="fab fa-youtube me-3"></i>
                        </a>

                    </div>
                </div>
                <div class="col-md-3 col-12 mb-5">
                    <div class="footer-block">
                        <h3 class="fw-normal text-white mb-4">Contact Us</h3>
                        <ul>
                            <li class="mb-2">
                                <a class="footer-link arrow-pull text-white" href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.google.com%2Fmaps%2Fdir%2F%3Fapi%3D1%26destination%3D28.63955791944%252C77.105479415121%26fbclid%3DIwAR0AVR7h8np0qYxUn7JKqy_BZjyssnrAodKUWssITziNgJnsc19Us-p8YPk&h=AT0sSnSMCtNM6WdhIQUvnfEyP7tc0D131C3tNL2_-WyiKa71xAgSyf23Tum3tpkt8inZkPAxpa1zibfB_phZszmXVUUqxiqDKehSrF5NTzIVP15iq3YrRudwIkEGq-x82atDzjUlq9-5WlecO-yxHQ"><i class="fa fa-map-marker me-2"></i> 2/342, 2nd Floor, Subhash Nagar, New Delhi, India 110008</a>
                            </li>
                            <!-- <li class="mb-2"><a class="footer-link arrow-pull text-white" href="tel:8588801200"><i class="fa fa-phone me-2"></i>+91-8588801200</a></li> -->
                            <li class="mb-2"><a class="footer-link arrow-pull text-white" href="https://web.whatsapp.com/send?phone=919311877629&text=Hi%20Om%20Shubh%20Yatra%2C%20I%20need%20to%20more%20info%20about%20Chardham%20Yatra"><i class="fab fa-whatsapp me-2"></i> +91-9311877629</a></li>
                            <li class="mb-2"><a class="footer-link arrow-pull text-white" href="mailto:enquiry@omshubhyatra.com"><i class="fa fa-envelope me-2"></i> enquiry@omshubhyatra.com</a></li>
                            <li><a class="footer-link arrow-pull text-white"><i class="fa fa-clock me-2"></i> Mon-Sun, 10am-19pm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-12 mb-5">
                    <div class="footer-block">
                        <h3 class="fw-normal text-white mb-4">Quick Links</h3>
                        <ul class="mb-3">
                            <li class="mb-1"><a class="footer-link arrow-pull text-white" routerLink="/about" title="About"><i class="fas fa-chevron-right me-2"></i> About Us</a></li>
                            <li class="mb-1"><a class="footer-link arrow-pull text-white" routerLink="/feedback" title="Feedback Form"><i class="fas fa-chevron-right me-2"></i> Feedback Form</a></li>
                            <li class="mb-1"><a class="footer-link arrow-pull text-white" routerLink="/hotels" title="Hotels"><i class="fas fa-chevron-right me-2"></i> Hotels</a></li>
                            <li class="mb-1"><a class="footer-link arrow-pull text-white" routerLink="/car-rental" title="Car Rental"><i class="fas fa-chevron-right me-2"></i> Car Rental</a></li>
                            <li class="mb-1"><a class="footer-link arrow-pull text-white" routerLink="/contact" title="Contact Us"><i class="fas fa-chevron-right me-2"></i> Contact Us</a></li>
                            <li class="mb-1"><a class="footer-link arrow-pull text-white" href="https://www.payumoney.com/paybypayumoney/#/DC74FA96BB5B9ECC5031217517137D7D" title="Online Payment"><i class="fas fa-chevron-right me-2"></i> Online Payment</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-12 mb-5">
                    <div class="footer-block">
                        <h3 class="fw-normal text-white mb-4">Useful Info</h3>
                        <ul>
                            <li class="mb-1"><a class="footer-link arrow-pull text-white" routerLink="/privacy-policy" title="Privacy Policy"><i class="fas fa-chevron-right me-2"></i> Privacy Policy</a></li>
                            <li class="mb-1"><a class="footer-link arrow-pull text-white" routerLink="/cancellation-policy" title="Cancellation Policy"><i class="fas fa-chevron-right me-2"></i> Cancellation Policy</a></li>
                            <li class="mb-1"><a class="footer-link arrow-pull text-white" routerLink="/testimonial" title="Testimonials"><i class="fas fa-chevron-right me-2"></i> Testimonials</a></li>
                            <li class="mb-1"><a class="footer-link arrow-pull text-white" routerLink="/how-to-pay" title="How to pay"><i class="fas fa-chevron-right me-2"></i> How to pay</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer my-bg-dark-3">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-6 col-12">
                    <p class="m-0 text-white text-md-start text-center"><small>Copyright © 2021 OM Shubh Yatra</small></p>
                </div>
                <div class="col-md-6 col-12">
                    <table class="ms-md-auto me-md-0 mx-auto text-white text-md-end text-center">
                        <tr>
                            <td class="pe-2"><small>We Accept</small></td>
                            <td class="pe-1 payment-brands"><i class="fab fa-cc-visa"></i></td>
                            <td class="pe-1 payment-brands"><i class="fab fa-cc-mastercard"></i></td>
                            <td class="pe-1 payment-brands"><i class="fab fa-cc-amex"></i></td>
                            <td class="pe-1 payment-brands"><i class="fab fa-cc-paypal"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="https://api.whatsapp.com/send?phone=917611136863&text=Hi%20Om%20Shubh%20Yatra%20I%20have%20a%20query%20about%20a%20package" class="whatsapp-footer">
    <img src="/assets/images/4485687.png">
</a>

<app-enquiry></app-enquiry>