.page-title{
    h1, .pt-cta{
        line-height: 70px;
    }
    .user-name{    
        position: absolute;
        top: 5px;
        font-size: 20px;
        right: 30%;
        border-bottom: 1px solid #ccc;        
    }
}