<div class="sidebar-container">
    <app-sidenav></app-sidenav>

    <div class="right-content min-vh-100">
        <div class="container-fluid">
            <app-page-title [title]="'Edit Popup'" [icon]="'fa-arrow-alt-circle-left'" [button]="'Return Back To Popup'" [url]="'/admin/popups'"></app-page-title>

            <div class="row pb-5">

                <div class="col-md-8 col-12 mb-3">
                    <form class="gateway-form" [formGroup]="editPopupsFrom" (ngSubmit)="editPopupAction()">
                        <div class="card shadow">
                            <div class="card-body">
                                <!-- Error Alert -->
                                <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ errorMessage }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="resetError()"></button>
                                </div>

                                <div class="mb-3">
                                    <label for="Title" class="form-label">Title</label>
                                    <input type="text" class="form-control form-control-lg" id="Title" formControlName="Title" autocomplete="off">

                                    <small *ngIf="editPopupsFrom.controls['Title'].valid && editPopupsFrom.controls['Title'].touched" class="text-success">
                                        <small>Title Set</small>
                                    </small>
                                    <small *ngIf="editPopupsFrom.controls['Title'].invalid && editPopupsFrom.controls['Title'].touched" class="text-danger">
                                        <small>Please Enter Popup Name</small>
                                    </small>
                                    <small *ngIf="editPopupsFrom.controls['Title'].untouched" class="text-muted">
                                        <small>Please Enter Popup Name</small>
                                    </small>
                                </div>
                            </div>
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary">Edit Popup</button>

                            </div>
                        </div>
                    </form>
                </div>

                <!-- Right Sidebar -->
                <div class="col-md-4 col-12 mb-3">
                    <div class="card shadow mb-3">
                        <div class="card-body">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="enableUpload" checked
                                       (change)="enableDisableImageUploadAction();">
                                <label class="form-check-label" for="enableUpload">Upload Image</label>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-3" id="uploadImageCard">
                        <img class="card-img-top" id="blah" [src]="imageSrc || 'http://placehold.it/1920x1080'" alt="your image" />
                        <div class="card-body">
                            <form [formGroup]="imageUploadForm" (ngSubmit)="imageUpload()">
                                <label for="Image" class="form-label">Popup Image</label>
                                <input class="form-control" type="file" id="Image" formControlName="Image" (change)="onFileChange($event)">

                                <small *ngIf="imageUploadForm.controls['Image'].valid && imageUploadForm.controls['Image'].touched" class="text-success">
                                    <small>Image URL Entered</small>
                                </small>
                                <small *ngIf="imageUploadForm.controls['Image'].invalid && imageUploadForm.controls['Image'].touched" class="text-danger">
                                    <small>Please Enter Image URL</small>
                                </small>
                                <small *ngIf="imageUploadForm.controls['Image'].untouched" class="text-muted">
                                    <small>Please Select Image URL</small>
                                </small>
                            </form>
                        </div>
                    </div>
                    <div class="card shadow mb-3" id="uploadUrlCard" style="display: none;">
                        <div class="card-body">
                            <form [formGroup]="imageUploadForm">
                                <label for="Image" class="form-label">Popup Image</label>
                                <input class="form-control" type="text" id="ImageUrl" formControlName="Image">

                                <small *ngIf="imageUploadForm.controls['Image'].valid && imageUploadForm.controls['Image'].touched" class="text-success">
                                    <small>Image Selected</small>
                                </small>
                                <small *ngIf="imageUploadForm.controls['Image'].invalid && imageUploadForm.controls['Image'].touched" class="text-danger">
                                    <small>Please Enter Image</small>
                                </small>
                                <small *ngIf="imageUploadForm.controls['Image'].untouched" class="text-muted">
                                    <small>Please Select Image</small>
                                </small>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>